.footer-copyright-color {
    margin: 0;
    padding: 7px 0;
    width: 100%;
    overflow: hidden;
    background: #b11418;
}

@media (min-width: 960px) {
    .footer-content {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        background: #b11418;
    }
}

.footer-content {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

@media (min-width: 960px) {
    .footer-content {
        margin: 0 auto;
        padding: 0;
        width: 95%;
        max-width: 1200px;
    }
}

.footer-content p {
    font-size: 10px;
    color: #fde9ea;
    font-family: Arial, Helvetica, sans-serif;
}

.color-y-footer {
    color: #ffcc01;
}